.container {
    display: flex;
    flex-wrap: wrap;
    margin-top:50px;
    justify-content: center;
    margin-left: 100px;
    margin-right:100px;
  }
  
  .teamBox {
    color:white;
    text-align:center;
    width: 300px;
    height: 100px;
    border: 1px solid #0000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    box-sizing: border-box;
     margin:10px 50px 10px 100px;
  }
  